body {
  font-family: Roboto, Helvetica, sans-serif;
}

h1 {
  font-size: 16px;
  color: #444444;
}
.container {
  font-size: 13px;
  text align: center;
  margin: 5px;
}
.offer {
    width: 400px;
    border: 1px solid #cccccc;
    margin: 4px;
    display: inline-block;
    text-align: center;
}
.offer-title {
  font-size: 14px;
  color: #ffffff;
  background-color: #00b3b3;
  margin: 0px;
  padding: 15px;
}
.offer-content {
  background-color: #fafafa;
  padding: 20px;
}
table {
  width: 100%;
  background-color: #ffffff;
  border-spacing: 0;
  border-collapse: collapse;
}
th {
  color: #777777;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  margin: 0;
  text-align: left;
  border-bottom: 1px solid #f1f1f1;
}
td {
  color: #444444;
  font-weight: lighter;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin 0;
  text-align: left;
  border-bottom: 1px solid #f1f1f1;
}
.final-value {
  color: #2222ff;
  font-weight: bold;
}